@import "variables.scss";
@import "layouts.scss";
@import "styling.scss";

* {
  margin: 0;
  border: none;
  font-family: Montserrat, sans-serif;
}

input:focus-visible, select:focus-visible {
  outline: none;
}

a {
  text-decoration: none
}
